---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Achievements from "../components/Achievements.astro";
import Community from "../components/Community.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <About />
    <Projects />
    <Achievements />
    <Community />
    <Experience />
    <Contact />
  </main>
</Base>
